<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build" IgnorableNamespaces="uap mp build">

  <Identity Name="97513550-3d11-1652-4f7d-e25e649aac20" Version="1.0.0.0" Publisher="CN=user"/>

  <mp:PhoneIdentity PhoneProductId="97513550-3d11-1652-4f7d-e25e649aac20" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <build:Metadata>
    <build:Item Name="GenerationTool" Version="pwabuilder"/>
    <build:Item Name="GenerationToolVersion" Version="2.0.3-rc.0"/>
    <build:Item Name="PlatformId" Value="windows10"/>
    <build:Item Name="PlatformPackage" Value="pwabuilder-windows10"/>
    <build:Item Name="PlatformVersion" Version="2.0.3-rc.1"/>
    <build:Item Name="GeneratedFrom" Value="CLI"/>
    <build:Item Name="GenerationDate" Value="2018-07-18 12:54:13 Z"/>
		<build:Item Name="GeneratedURL" Value="https://xtreemze.github.io/defend/site.webmanifest" />
  </build:Metadata>

  <Properties>
    <DisplayName>Defend</DisplayName>
    <PublisherDisplayName>user</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="Defend" StartPage="https://xtreemze.github.io/defend/">

      <uap:VisualElements DisplayName="Defend" Description="Procedural Cross-Platform 3D Tower Defense WebGame with Physics and AI and Procedural Sound" BackgroundColor="#160230" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        
				 
        
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      
      <uap:ApplicationContentUriRules>
        
				<uap:Rule Type="include" WindowsRuntimeAccess="all" Match="https://xtreemze.github.io/" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    
  </Capabilities>

</Package>