<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Defend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <script src="./js/pep.js"></script>
    <script src="./js/inspector.js"></script> -->

</head>

<body id="body">
    <style>
        html,
        body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #160230
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
            background-color: #160230
        }

        #startButton {
            position: absolute;
            top: 50vh;
            left: 50vw;
            width: 6rem;
            height: 3rem;
            margin-top: -1.5rem;
            margin-left: -3rem;
        }

    </style>
    <button id="startButton">Start!</button>
    <canvas id="renderCanvas" touch-action="none"></canvas>

</body>

</html>
