<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Defend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#2a2a2a">
    <link href="./js/shell.js" rel="preload" as="script">
    <link href="./js/main.js" rel="preload" as="script">

</head>

<body id="body">
    <style>


    </style>

    <header id="header"></header>
    <main id="main"></main>
    <footer id="footer" class="page-footer" style="margin-top: -20px"></footer>

    <section id="loader" class="">

    </section>

</body>

</html>
