<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Defend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#2a2a2a">
    <script src="https://code.jquery.com/pep/0.4.1/pep.js"></script>

</head>

<body id="body">
    <style>
        html,
        body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }

    </style>

    <canvas id="renderCanvas" touch-action="none"></canvas>

</body>

</html>
